/* colors.css */

:root {
   
    --orange-color: #134290EB;
    --blue-color: #1784C3;
    --border-color: #ccc;
    --box-shadow-color: 0px 3px 6px #00000029;
    --primary-color: #874290EB;
    --secondary-color: #1784C3;
    --button-color: #0A3C5D;
    --box-color: 1px 3px 6px #c2c0c029;
  }
  
  
  