.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tag-container {
  position: absolute; /* Change to absolute positioning */
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
  top: 50px; /* Adjust based on your layout */
  right: 230px; /* Adjust based on your layout */
  width: 114px;
  height: 42px;
  padding: 0;
  opacity: 1;
  z-index: 100; /* Adjust z-index as needed */
}

.tag {
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-right: 55px; 
  width: 55px;
  height: 55px;
  justify-content: space-between;
  right: -40px;
}

.tag-text {
  position: absolute;
  bottom: 0;
  left: 70%;
  top: 0%;
  color: white;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  font-size: 12px; /* Adjust font size as needed */
  border-radius: 5px; /* Optional: Add border radius for rounded corners */
}

.project-heading {
  color: #388E3C;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  left: 45px;
}
